[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = {extras = ["email"], version = "*"}
pip = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]
pylama = "*"
black = "*"
bandit = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
